<footer id='footer'>
  <div class='container'>
    <div class='row text-center'>
      <div class='col-11'>
        <div class="row">
            <div class="col-4">
              <a href="terms">利用規約</a></div>
            <div class="col-4">
              <a href="privacy_policy">プライバシーポリシー</a></div>
            <div class="col-4">
                <a href="<%= ENV['FORM_URL'] %>">お問い合わせ</a>
            </div>
        </div>
      </div>
    </div>
    <div class='row text-center'>
      <div class='col-12'>
        <div class='copyright'>
          <p>© 2024. Killtime Spots Finder </p>
        </div>
      </div>
    </div>
  </div>
</footer>