<div class="container">
  <h3 class="title text-center">プライバシーポリシー</h3>
  <div class="row">
    <div>
      <p>本ウェブサイト上で提供するサービス「Killtime Spots Finder」（以下、「本サービス」といいます。）における、ユーザーの個人情報の取扱いについて、以下の通りプライバシーポリシー（以下、「本ポリシー」といいます。）を定めます。</p>
    </div>

    <div>
      <h4>1.ユーザーから取得する個人情報</h4>
      <p>本サービスは、ユーザーから以下の情報を取得します。</p>
      <ul>
        <li>氏名（ニックネームを含む）</li>
        <li>メールアドレス</li>
        <li>位置情報</li>
      </ul>
    </div>

    <div>
      <h4>2.個人情報を利用する目的</h4>
      <p>本サービスは、ユーザーから取得した情報を、以下の目的のために利用します。</p>
      <ul>
        <li>本サービスの提供、改善のため</li>
        <li>本サービスに関する登録の受付、認証のため</li>
        <li>ユーザーからの問い合わせに対応するため</li>
        <li>本サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
        <li>以上の他、利用目的に付随する目的</li>
      </ul>
    </div>

    <div>
      <h4>3.プライバシーポリシーの変更</h4>
      <p>本サービスは、必要に応じて本ポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期および内容を適切な方法により周知または通知します。</p>
    </div>

    <div>
      <p>2024年05月13日 制定</p>
    </div>
  </div>
</div>