<div class="row" id="template" style="display: none;">          
  <div class="col-3 p-2">
      <img src="https://placehold.jp/150x100.png" class="img">
  </div>
  <div class="col-8">
      <h5 class="text-start p-1">名前</h5>
      <p class="text-start p-1">説明</p>
  </div>
  <div class="col-1">
      <a href="#"></a>
  </div>  
</div>