#map {
    height: 400px;
    // width: 600px;
    // width: auto;
  }

.search-bar-group {
  display: flex;
  align-items: center;
}

div .row {
  margin: 3px;
}

// .form-control::placeholder {
//   color: #dcdcdc;
// }

.list-item {
  border: 1px;
  padding: 2px;
}