#map {
    height: 400px;
    // width: 600px;
    // width: auto;
  }

.search-bar-group {
  display: flex;
  align-items: center;
}

// .check {
//   background-color: aqua;
// }

div .row {
  margin: 3px;
  border: aqua;
}

.text-left {
  background-color: aqua;
}

.place-item {
  background-color: greenyellow;
}